---
---
<!-- Reading Progress Bar -->
<div
  id="scroll-progress"
  class="fixed top-0 left-0 h-1 bg-violet-600 z-[60] transition-all duration-150 ease-out"
  style="width: 0%"
>
</div>

<script src="../scripts/ScrollProgress.ts"></script>
